flask
gunicorn
pandas
plotly
matplotlib
langchain
langchain_community
langchain_huggingface
chromadb
sentence-transformers
ollama
langchain_ollama
tabulate
pypdf
openpyxl
boto3
azure-storage-file-datalake
python-dotenv
seaborn
